In [129]:
import warnings
warnings.filterwarnings('ignore')

Above we have imported a warnings library. You don't have to worry too much about this cell! Just go ahead and run it to proceed with the morning warm up!

##### How will you read the following data into a pandas data frame ?

In [99]:
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

In [ ]:
df = pd.read_csv(url, header=None)

##### How would you pick columns 0,1,3 ?

##### Use a for loop to find all rows where column 3 entries have values greater than 2 and replace them with NaN values 
##### Hint: Use NumPy

##### Change names of columns to A, B, and C

##### Add a column 'Day' and start a count of number from 1-100 for all entries

Now use a Pandas Groupby function to group by the 'Day' column and find the mean of each row

##### Drop the 'Day' column