In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

##### How will you read the following data into a pandas data frame ?

In [ ]:
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

In [ ]:
df = pd.read_csv(url, header=None)

In [ ]:
df.head()

##### How would you pick columns 0,1,3 ?

In [ ]:
df1 = df[[0, 1, 3]]
df1.head()

In [ ]:
df1.iloc[9,2]

##### Use a for loop to find all rows where column 3 entries with values greater than 2 and replace them with NaN values 
##### Hint: Use NumPy

In [ ]:
for i in range(df1.shape[0]): 
    if df1.iloc[i, 2] > 2:
        print ('found one in row ' + str(i))
        df1.iloc[i, 2] = np.nan

##### Change names of columns to A, B, and C

In [ ]:
df1.columns = ['A', 'B', 'C']

##### Add a column 'Day' and start a count of number from 1-100 for all entries

In [ ]:
df1['Day'] = 0

In [ ]:
for x in range(100):  
    df1['Day'][x] = x +1

In [ ]:
df1.head()

Now use a Pandas Groupby function to group by the 'Day' column and find the mean of each row

In [ ]:
import math

In [ ]:
df1[df1['C'] != .2].groupby(df1['Day']).mean()

##### Drop the 'Day' column

In [ ]:
df1 = df1.drop('Day', axis=1)